<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nurgulmantarci.reminder">


    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/bell"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".CreateNote"
            android:label="@string/title_activity_create_note">
            <intent-filter>
                <action android:name="com.example.dominic.memo.CreateNote" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewNote"
            android:label="@string/title_activity_information"></activity>

        <activity
            android:name=".EditNote"
            android:label="@string/title_activity_edit__note"></activity>

        <activity
            android:name=".Alert"
            android:theme="@android:style/Theme.Dialog"></activity>

        <activity
            android:name=".SetMusic"
            android:theme="@android:style/Theme.Dialog" android:exported="true"></activity>


        <receiver android:name=".Receivers.AlarmReceiver" android:exported="true" android:enabled="true"/>
        <receiver android:name=".Receivers.NotificationReceiver" android:exported="true" android:enabled="true"/>

    </application>

</manifest>